body {
	background:#f5f5f5
}
#footer .ft_txt .link {
	display:block
}
.index-slide {
	width:100%;
	height:280px;
	position:relative;
	overflow:hidden;
	background:url(../images/loading_nala.gif) center center no-repeat
}
.index-slide ul {
	height:280px;
	overflow:hidden
}
.index-slide li {
	width:100%;
	height:280px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	background-position:center 0;
	background-repeat:no-repeat
}
.index-slide li:first-child {
	z-index:2
}
.index-slide li a {
	display:block;
	height:280px;
	width:1196px;
	margin:0 auto
}
.index-slide .trigger-box {
	width:400px;
	margin:0 auto;
	position:absolute;
	top:255px;
	left:50%;
	z-index:10;
	margin-left:-200px
}
.index-slide .triggers {
	text-align:center;
	font-size:0
}
.trigger-box .triggers a {
	display:inline-block;
	width:0;
	padding:15px 0 0 15px;
	height:0px;
	line-height:0px;
	overflow:hidden;
	background-color:#333;
	background:rgba(51, 51, 51, 0.5);
	filter:Alpha(opacity=80);
	border-radius:15px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	font-family:arial;
	margin-right:10px
}
.trigger-box .triggers a:hover {
	text-decoration:none;
	color:#fff
}
.trigger-box .triggers a.current {
	background:#e4393c;
	filter:Alpha(opacity=100)
}
@-webkit-keyframes btnShark {
0% {
-webkit-transform:rotateY(-180deg);
opacity:.2
}
100% {
-webkit-transform:rotateY(0deg);
opacity:1
}
}
@-moz-keyframes btnShark {
0% {
-moz-transform:rotateY(-180deg);
opacity:.2
}
100% {
-moz-transform:rotateY(0deg);
opacity:1
}
}
@-ms-keyframes btnShark {
0% {
-ms-transform:rotateY(-180deg);
opacity:.2
}
100% {
-ms-transform:rotateY(0deg);
opacity:1
}
}
@keyframes btnShark {
0% {
transform:rotateY(-180deg);
opacity: .2
}
100% {
transform:rotateY(0deg);
opacity:1
}
}
.aui_content .btm a {
	font-size:16px;
	padding:5px 0;
	height:24px;
	line-height:24px;
	width:140px;
	text-align:center
}
.aui_content .btm span {
	display:inline-block;
	width:80px
}
.addcart_success {
	width:420px;
	padding:0 20px
}
.addcart_success h3 {
	font-size:18px;
	color:#e4393c;
	text-align:center
}
.addcart_success h3 i {
	font-size:28px;
	color:#00b000;
	margin-right:15px
}
.addcart_success p {
	color:#999;
	font-size:14px;
	margin-bottom:15px;
	text-align:center
}
.addcart_success p.item {
	color:#333;
	height:50px;
	overflow:hidden
}
.addcart_success p.item img {
	width:50px;
	height:50px;
	vertical-align:middle
}
.addcart_success .btm {
	padding-top:20px
}
.index_webintro {
	height:52px;
	box-shadow:1px -1px 5px rgba(200, 200, 200, 0.1);
	padding:12px 0;
	background:#fff url(http://cdn.mayicun.com/images/index/web-intro.png) center 12px no-repeat
}
.index_webintro .bd {
	display:none
}
.brand_temai {
	width:1196px;
	margin:0 auto -20px;
	padding:0 20px 20px;
	overflow:hidden
}
.brand_temai ul {
	margin-right:-50px
}
.brand_temai ul li {
	float:left;
	width:580px;
	height:290px;
	border:1px solid #ccc;
	margin:30px 32px 0 0;
	background-color:#fff;
	overflow:hidden;
	position:relative;
-webkit-transition:all .4s;
-moz-transition:all .4s;
-ms-transition:all .4s;
transition:all .4s
}
.brand_temai ul li img {
	width:580px;
	height:250px;
	vertical-align:top
}
.brand_temai ul li p {
	color:#666;
	padding:8px 0 0 20px
}
.brand_temai ul li p i {
	font-size:18px;
	margin-right:4px
}
.brand_temai ul li em {
	font-size:14px
}
.brand_temai ul li .timer {
	color:#e4393c
}
.brand_temai ul li.yugao .timer {
	color:#666
}
.brand_temai ul li .mask {
	position:absolute;
	top:0;
	left:0;
	width:580px;
	height:150px;
	background:rgba(0, 0, 0, 0.35);
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#35000000', endColorstr='#35000000');
	text-align:center;
	padding-top:100px;
	font-size:26px;
	color:#fff;
	font-family:"Microsoft YaHei", "黑体";
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.3)
}
.brand_temai ul li.ishover {
	border-color:#e4393c;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3)
}
.series_list {
	width:1196px;
	margin:0 auto 50px
}
.series_box {
	margin-top:30px;
	background-color:#fff
}
.series_info {
	width:200px;
	height:399px;
	border-bottom:1px solid #ccc;
	float:left;
	overflow:hidden
}
.series_info .brand {
	border-left:1px solid #ccc;
	padding:8px 0
}
.series_info .brand li {
	padding:10px 0;
	height:50px;
	overflow:hidden;
	text-align:center
}
.series_info .brand li img {
	width:50px;
	height:50px;
	vertical-align:top
}
.series_info .brand li img:hover {
	-webkit-animation:imgShark 1s
}
.series_info .brand_cata {
	padding:12px 0 10px 20px;
	height:73px;
	overflow:hidden;
	background-color:#f5f5f5;
	border-left:1px solid #ccc
}
.series_info .brand_cata a {
	display:inline-block;
	font-size:14px;
	line-height:24px;
	color:#666;
	width:64px;
	margin-right:20px
}
.series_info .series_name {
	padding:20px 45px
}
.series_info .series_name h2 {
	height:0;
	padding-top:38px;
	overflow:hidden;
	background:url(../images/series_icon.png?0811) 0 0 no-repeat
}

.series_info .name_product {
	background-color:#f9484b;
	padding:20px 27px
}
.series_info .name_rihua h2 {
	background-position:0 0
}
.series_info .name_gongju h2 {
	background-position:0 -188px
}
@-webkit-keyframes imgShark {
0% {
-webkit-transform:translate(0, 0)
}
40% {
-webkit-transform:translate(0, -8px)
}
100% {
-webkit-transform:translate(0, 0)
}
}
.series_list .series_pic {
	width:340px;
	float:left;
	overflow:hidden;
	margin-right:-10px
}
.series_list .series_pic img {
	width:340px;
	height:400px;
	vertical-align:top;
	-webkit-transition:all 4s;
	-moz-transition:all 4s;
	-ms-transition:all 4s;
	-o-transition:all 4s;
	transition:all 4s;
	-webkit-transform:scale(1)
}
.series_list .series_pic img:hover {
	-webkit-transform:scale(1.08)
}
.series_list .pro_list {
	width:655px;
	height:398px;
	overflow:hidden;
	float:right;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc
}
.series_list .pro_list ul {
	margin-right:-30px;
	zoom:1
}
.series_list .pro_list li {
	float:left;
	_display:inline;
	width:179px;
	height:179px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 20px;
	overflow:hidden
}
.series_list .pro_list li .pic {
	text-align:center
}
.series_list .pro_list li .pic img {
	width:120px;
	height:120px;
	vertical-align:top
}
.series_list .pro_list li h3 {
	color:#666;
	font-size:12px;
	margin:10px 0 5px
}
.series_list .pro_list li .price {
	color:#e4393c;
	font-size:14px
}
.series_list .pro_list li a {
	display:block;
	text-decoration:none
}
.series_list .pro_list li a:hover img {
	opacity: .7;
	filter:Alpha(opacity=70)
}
.temai_box {
	width:1196px;
	margin:25px auto 50px
}
.temai_box h2 {
	font-size:20px;
	font-family:"黑体";
	padding-bottom:8px;
	font-weight:400
}
.temai_box h2 span {
	color:#666;
	font-size:14px;
	margin-left:20px;
	font-weight:400
}
.temai_list {
	margin-right:-30px
}
.temai_list li {
	float:left;
	width:282px;
	overflow:hidden;
	border:1px solid #ccc;
	background-color:#fff;
	margin:0 20px 20px 0;
	box-shadow:0 0 3px rgba(200, 200, 200, 0.5);
-webkit-transition:all .5s;
-moz-transition:all .5s;
-ms-transition:all .5s;
-o-transition:all .5s;
transition:all .5s
}
.temai_list li a {
	display:block;
	zoom:1;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	overflow:hidden
}
.temai_list li .pic {
	text-align:center;
	padding-top:15px
}
.temai_list li .pic img {
	width:240px;
	height:240px;
	vertical-align:top
}
.temai_list li .pic img .img_error {
	background:url(../images/img_error.png) center center no-repeat
}
.temai_list li h3 {
	margin:13px 13px 5px;
	height:44px;
	line-height:22px;
	overflow:hidden
}
.temai_list li p.price {
	padding:5px 12px 17px 12px;
	height:28px;
	overflow:hidden;
	font-size:18px;
	position:relative
}
.temai_list li p.price span {
	vertical-align:middle
}
.temai_list li p.price .bd {
	font-size:16px;
	color:#e4393c
}
.temai_list li p.price .bd strong {
	font-size:20px
}
.temai_list li p.price .sale {
	height:21px;
	line-height:21px;
	padding-left:15px;
	color:#999;
	font-size:14px;
	overflow:hidden;
	text-decoration:line-through
}
.temai_list li p.price .sale b {
	margin-right:3px;
	font-weight:400
}
.temai_list li p.price .baoyou {
	background-color:#fee9d6;
	padding:0 10px;
	height:21px;
	line-height:21px;
	color:#e4393c;
	font-size:14px;
	border-radius:4px
}
.temai_list li p.price .num {
	position:absolute;
	top:12px;
	right:12px;
	font-size:12px;
	color:#666
}
.temai_list li p.price .num strong {
	font-weight:400
}
.temai_list li a:hover {
	text-decoration:none
}
.temai_list li.hover {
	border-color:#e4393c;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3)
}
.temai_list li.hover h3 {
	color:#e4393c
}
.temai_list li.over {
	border-color:#ccc;
	box-shadow:0 0 3px rgba(200, 200, 200, 0.5)
}
.temai_list li.over .sale {
	background-position:0 -32px
}
.temai_list li.over .over_tip {
	position:absolute;
	top:70px;
	left:50%;
	margin-left:-60px;
	display:block;
	width:120px;
	height:30px;
	line-height:30px;
	padding:45px 0;
	border-radius:60px;
	background:rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#50000000', endColorstr='#50000000');
	text-align:center;
	font-size:24px;
	color:#fff
}
#app_2code {
	position:fixed;
	z-index:1000;
	bottom:120px;
	left:50%;
	margin-left:610px;
	_position:absolute;
_top:expression((document).documentElement.scrollTop+(document).documentElement.clientHeight-205);
	width:84px;
	height:70px;
	padding:15px 0 10px;
	text-align:center;
	background-color:#fff;
	color:#e4393c;
	overflow:hidden
}
#app_2code img {
	width:50px;
	height:50px;
	vertical-align:top
}
#app_2code p {
	margin-top:5px
}
#app_2code.app_2code_hover {
	width:124px;
	height:115px;
	margin-left:570px
}
#app_2code.app_2code_hover img {
	width:99px;
	height:99px
}
.is1280 #app_2code {
	margin-left:0;
	left:auto;
	right:0
}
.reg_gift {
	position:fixed;
	z-index:9000;
	top:0;
	left:50%;
	margin-left:-310px;
	_position:absolute;
_top:expression((document).documentElement.scrollTop);
	width:622px;
	height:622px;
	background:url(http://cdn.mayicun.com/images/index/reg-gift-20140623.png) 0 0 no-repeat
}
.reg_gift a {
	display:block;
	width:220px;
	height:60px;
	z-index:9001;
	position:absolute
}
.reg_gift .close {
	left:476px;
	top:43px;
	width:75px;
	height:75px
}
.reg_gift .link {
	left:197px;
	top:435px
}
#reg_gift_mask {
	background:rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#50000000', endColorstr='#50000000');
	width:100%;
	height:1000px;
	position:fixed;
	z-index:8000;
	top:0;
	left:0;
	_position:absolute;
_top:expression((document).documentElement.scrollTop)
}
