.box-pic {
    width:600px;
    height:450px;
    overflow:hidden;
    float:left
}
.zixun-box {
    position:absolute;
    top:48px;
    right:0;
    width:250px;
    padding:25px;
    background-color:#f7f7f7;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
    z-index:999;
    display:none
}
.zixun-box i.arw {
    width:0;
    height:0;
    overflow:hidden;
    position:absolute;
    right:112px;
    top:-16px;
    border:8px dashed transparent;
    border-bottom:8px solid #f7f7f7
}
.zixun-box .closed {
    position:absolute;
    right:20px;
    top:15px;
    font-size:16px
}
.zixun-box .closed:hover {
    text-decoration:none
}
.zixun-box h5 {
    font-size:16px;
    font-style:italic
}
.zixun-box p {
    margin-top:6px;
    font-size:14px
}
.zixun-box .zixun-qq {
    padding:20px 0
}
.zixun-box .zixun-qq a {
    display:block;
    width:142px;
    height:42px;
    background:url(../images/zixun-qq.png) 0 0 no-repeat
}
#login-box h2 {
    font-size:18px;
    font-style:normal;
    font-weight:100;
    letter-spacing:5px
}
#login-box .trig {
    float:right;
    font-size:12px;
    letter-spacing:0px
}
#login-box .trig a {
    text-decoration:underline
}
.form-bd {
    margin:15px 0;
    position:relative;
    height:239px;
    width:320px;
    overflow:hidden
}
.form-bd-signup {
    margin:15px 0;
    position:relative;
    height:339px;
    width:320px;
    overflow:hidden
}
.form_box {
    position:absolute;
    width:640px
}
.login_box, .prve_login {
    float:left
}
#login-box .form {
    width:320px
}
#login-nala-form li h5 {
    font-size:14px;
    color:#999
}
#login-nala-form li span.iconfont {
    display:inline-block;
    text-align:center;
    color:#aaa;
    font-size:18px;
    vertical-align:middle;
    margin:0 6px
}
#login-nala-form li input.text {
    width:240px;
    padding:4px 6px;
    height:18px;
    line-height:18px;
    overflow:hidden;
    border:none;
    border-left:1px solid #ccc;
    color:#333;
    vertical-align:middle;
    color:#333;
    margin-left:2px;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    transition:all .25s ease
}
#login-nala-form li.text_input {
    border:1px solid #ccc;
    line-height:18px;
    padding:6px;
    position:relative;
    margin-bottom:24px;
    zoom:1
}
#login-nala-form li {
    line-height:18px;
    padding:6px 0;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    transition:all .25s ease
}
#login-nala-form li.last {
    text-align:center;
    margin-bottom:30px;
    margin-top:10px
}
#login-nala-form li.last p {
    margin-bottom:10px
}
#login-nala-form li.last .btn {
    height:50px;
    width:100%;
    text-align:center;
    color:#fff;
    letter-spacing:5px;
    cursor:pointer;
    font-size:18px;
    border:none
}
#login-nala-form li.last .disabled {
    background:#eee url(http://img.nala.com.cn/images/loading.gif) 110px 18px no-repeat;
    cursor:default;
    color:#999
}
#login-nala-form li p .remember-me {
    margin-right:10px;
    vertical-align:-2px
}
#login-nala-form li p a.forget_psd {
    float:right;
    text-decoration:underline
}
#login-nala-form li.params_error {
    border-color:#fe655c
}
#login-nala-form li.params_error input.text {
    border-left-color:#fe655c
}
#login-nala-form li.error_box {
    padding:0;
    height:16px;
    margin-top:-12px;
    margin-bottom:5px;
    color:#fe655c
}
#login-nala-form li.text_input .error_icon {
    background:url(../images/error_icon.png) 0 -50px no-repeat;
    position:absolute;
    width:14px;
    height:14px;
    right:10px;
    top:10px
}
#login-nala-form li.params_error .error_icon {
    background-position:0 0
}
#login-nala-form li.text_input input:-webkit-autofill {
    -webkit-box-shadow:0 0 0px 1000px white inset
}
#login-last {
    padding-top:5px
}
#login-last li {
    padding-bottom:25px
}
#login-last i.iconfont {
    margin-right:4px;
    color:#999;
    font-size:14px
}
#login-box.trg {
    padding:12px;
    font-size:14px;
    margin-top:20px
}
.other-login {
    font-size:0
}
.other-login a {
    margin-top:0;
    vertical-align:top;
    margin-right:10px;
    background:url(../images/other-login-bg.png?0719) center no-repeat;
    display:inline-block;
    width:30px;
    height:30px;
    overflow:hidden
}
.other-login a.sina {
    background-position:0px 0
}
.other-login a.qq {
    background-position:-40px 0
}
.other-login a.alipay {
    background-position:-80px 0
}
.other-login a.taobao {
    background-position:-120px 0
}
.other-login a.baidu {
    background-position:-160px 0
}
.other-login a.qihoo360 {
    background-position:-200px 0
}
.other-login a:hover {
    text-decoration:none;
    opacity:0.8;
    filter:Alpha(opacity=80)
}
.other-form li h5 {
    margin-top:50px
}
.other-form li {
    padding-bottom:8px;
    margin-bottom:10px
}
