.my_nala_tip {
    height:30px;
    line-height:30px
}
.my_nala_tip li {
    display:inline;
    margin-right:4px;
    color:#666
}
.sidebar {
    float:left;
    width:214px
}
.sidebar {
    +zoom: 1;
    border:1px solid #e7e7e7;
    border-bottom:none;
    margin-bottom:10px;
    background-color:#fff;
}
.sidebar li {
    border-bottom:solid 1px #e7e7e7;
    padding:0px 0 0px 0px;
    font-size:14px
}
.sidebar li ul li {
    border-bottom:none;
    padding:0;
}

.sidebar li a {
    display:block;
    height:20px;
    line-height:20px;
    padding:10px 0 10px 30px;
    color:#111
}
.sidebar li.sidebar-header a {
    font-size: 24px;
    height: 32px;
    line-height: 32px;
}

.sidebar li ul li a {
    padding:10px 0 10px 50px;
    font-size: 12px;
}

.sidebar li a:hover, .sidebar li.active, .sidebar li.active a {
    background-color:#f1f1f1;
    color:#e4393c;
    text-decoration:none
}

@-webkit-keyframes pop_ico {
    0% {
        -webkit-transform:scale(0.6);
        opacity:0
    }
    50% {
        -webkit-transform:scale(1.1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        opacity:1
    }
}
.my_nala_centre {
    float:right;
    width:970px;
    background-color:#fff
}
.ilizi_centre {
    background:none
}
.i_marb {
    margin-bottom:10px
}
.i_marb .my_coupons {
    border:none
}
.i_marb .my_coupons h3 {
    border:none
}
.i_marb .my_coupons .tb1_hd td {
    background:#f8f8f8;
    border-top:1px solid #ccc
}
.i_marb .my_coupons table {
    margin-top:15px
}
.i_min_height {
    min-height:100px;
    _height:100px;
    border-top:1px solid #ccc;
    margin-top:15px;
    padding:15px 20px;
    font-size:14px;
    color:#999
}
.icms img {
    max-width:970px;
    display:block;
    margin:0 auto
}
.ilizi {
    border:1px solid #e4e4e4;
    padding:16px 18px;
    margin-bottom:10px;
    background:#fff
}
.ilizi .face, .iface .face {
    display:block;
    float:left;
    width:100px;
    height:100px;
    position:relative
}
.ilizi .edit_face, .iface .edit_face {
    position:absolute;
    height:20px;
    line-height:20px;
    width:100px;
    display:block;
    background:rgba(0, 0, 0, 0.5);
    text-align:center;
    color:#fff;
    left:1px;
    bottom:-1px;
    _bottom:0px;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#77000000', endColorstr='#77000000');
    visibility:hidden;
    margin:0
}
.ilizi .face img, .iface .face img {
    width:100px;
    height:100px;
    border:1px solid #e4e4e4
}
.ilizi .ilizi_info {
    width:800px;
    float:right;
    height:100px
}
.ilizi p {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.ilizi_info ul {
    margin-top:-2px
}
.ilizi_info ul li {
    line-height:36px;
    height:36px;
    border-bottom:1px solid #e4e4e4
}
.ilizi_info li.iname strong {
    font-size:16px;
    margin-right:10px
}
.ilizi_info li.iname b {
    font-size:14px;
    color:#e4393c;
    font-style:normal;
    margin-right:40px
}
.ilizi_info li.iname span.ilevel {
    position:relative;
    width:381px;
    height:22px;
    display:inline-block;
    background:url(http://img.nala.com.cn/lizi/b2c/images/level-ico.png);
    background-position:0 -22px;
    bottom:-3px;
    background-repeat:no-repeat
}
.ilizi_info li.iname span.on {
    position:absolute;
    background-position:0 0;
    left:0;
    top:0;
    width:20px;
    overflow:hidden
}
.ilizi_info li.iname span.tovip {
    width:147px
}
.ilizi_info li.iname span.tosvip {
    width:274px
}
.ilizi_info li.iname span.ilevel i {
    font-size:8px;
    display:inline-block;
    position:absolute;
    width:20px;
    height:20px;
    cursor:pointer
}
.ilizi_info li.iname span.ilevel i.ihy {
    left:0px;
    top:0
}
.ilizi_info li.iname span.ilevel i.ivip {
    left:128px;
    top:0
}
.ilizi_info li.iname span.ilevel i.isvip {
    left:252px;
    top:0
}
.ilizi_info li i.iconfont {
    font-size:18px;
    color:#999;
    margin-right:6px
}
.ilizi_info li.iinfo {
    border:none
}
.ilizi_info li.iinfo a, .ilizi_info li.iother span {
    display:inline-block;
    width:140px;
    color:#666
}
.ilizi_info li a:hover {
    text-decoration:none;
    color:#e4393c
}
.itip {
    position:absolute;
    height:24px;
    padding:0 5px;
    line-height:24px;
    border:1px solid #ccc;
    background:#f5f5f5;
    top:-33px;
    left:-67px;
    color:#999;
    border-radius:2px;
    white-space:nowrap;
    font-size:12px;
    box-shadow:1px 1px 5px #ccc;
    display:none
}
.itip .arrow {
    display:block;
    position:absolute;
    width:12px;
    height:12px;
    bottom:-6px;
    left:80px;
    margin-left:-10px
}
.itip .arrow em {
    font-family:"SimSun";
    overflow:hidden;
    font-size:12px;
    line-height:1.231;
    display:block;
    height:12px;
    position:absolute
}
.itip .arrow em.bg {
    color:#f5f5f5;
    z-index:2;
    bottom:2px
}
.itip .arrow em.line {
    color:#ccc;
    z-index:1
}
.qq-uploader {
    position:relative;
    margin-bottom:5px
}
.qq-upload-button {
    display:block;
    width:119px;
    height:27px;
    text-indent:9999px;
    background:url(http://img.nala.com.cn/lizi/ask/images/qq-upload-button.png) no-repeat 0 0;
    cursor:pointer;
    overflow:hidden
}
.qq-upload-button-hover {
    background-position:0 -27px
}
.qq-upload-button span.txt {
    display:none
}
.jcrop-holder {
    direction:ltr;
    text-align:left
}
.jcrop-vline {
    height:100%;
    width:1px
}
.jcrop-hline {
    height:1px;
    width:100%
}
.jcrop-holder .right {
    right:0;
    padding:0
}
.jcrop-holder .bottom {
    bottom:0
}
.jcrop-handle {
    background-color:#333;
    border:1px #ddd solid;
    font-size:1px
}
.jcrop-tracker {
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    height:100%;
    width:100%
}
.jcrop-handle.ord-n {
    left:50%;
    margin-left:-4px;
    margin-top:-4px;
    top:0
}
.jcrop-handle.ord-s {
    bottom:0;
    left:50%;
    margin-bottom:-4px;
    margin-left:-4px
}
.jcrop-handle.ord-e {
    margin-right:-4px;
    margin-top:-4px;
    right:0;
    top:50%
}
.jcrop-handle.ord-w {
    left:0;
    margin-left:-4px;
    margin-top:-4px;
    top:50%
}
.jcrop-handle.ord-nw {
    left:0;
    margin-left:-4px;
    margin-top:-4px;
    top:0
}
.jcrop-handle.ord-ne {
    margin-right:-4px;
    margin-top:-4px;
    right:0;
    top:0
}
.jcrop-handle.ord-se {
    bottom:0;
    margin-bottom:-4px;
    margin-right:-4px;
    right:0
}
.jcrop-handle.ord-sw {
    bottom:0;
    left:0;
    margin-bottom:-4px;
    margin-left:-4px
}
.jcrop-dragbar.ord-n, .jcrop-dragbar.ord-s {
    height:7px;
    width:100%
}
.jcrop-dragbar.ord-e, .jcrop-dragbar.ord-w {
    height:100%;
    width:7px
}
.jcrop-dragbar.ord-n {
    margin-top:-4px
}
.jcrop-dragbar.ord-s {
    bottom:0;
    margin-bottom:-4px
}
.jcrop-dragbar.ord-e {
    margin-right:-4px;
    right:0
}
.jcrop-dragbar.ord-w {
    margin-left:-4px
}
.jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline {
    background:#FFF;
    filter:Alpha(opacity=70);
    opacity:.70
}
.jcrop-light .jcrop-handle {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#000;
    border-color:#FFF;
    border-radius:3px
}
.jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline {
    background:#000;
    filter:Alpha(opacity=70);
    opacity:.7
}
.jcrop-dark .jcrop-handle {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#FFF;
    border-color:#000;
    border-radius:3px
}
.jcrop-holder img, img.jcrop-preview {
    max-width:none
}
.avatar_demo_pic {
    width:300px;
    height:300px;
    border:1px solid #ccc;
    background:#f4f4f4 url(http://img.nala.com.cn/lizi/ask/images/uploader_avatar.png) 0 0 no-repeat;
    display:block;
    margin-bottom:8px
}
.avatar_form .qq-uploader {
    width:302px
}
.avatar_form .qq-upload-button {
    margin:0 auto
}
.avatar_form .r {
    padding-left:30px;
    vertical-align:top
}
.avatar_tip {
    margin-bottom:20px
}
.avatar_preview {
    width:150px;
    height:150px;
    margin-left:35px;
    overflow:hidden;
    background-color:#f4f4f4
}
.my_nala_centre .trade_mod .h301 a.more {
    font-size:14px;
    color:#666;
    font-weight:normal
}
.my_nala_centre .trade_mod .h301 a.more:hover {
    color:#e4393c
}
.link_order {
    font-size:14px;
    font-weight:normal;
    color:#ddd;
    padding-left:20px
}
.link_order a:hover {
    text-decoration:none
}
.link_order a i {
    color:#e4393c
}
.link_order a {
    padding:0 10px
}
.fav-list2 td {
    border-top:1px solid #ccc
}
.fav-list2 a {
    display:block;
    width:150px;
    padding:11px;
    position:relative
}
.fav-list2 a:hover {
    background:#f6f6f6;
    text-decoration:none
}
.fav-list2 a img {
    width:150px;
    height:150px
}
.fav-list2 a p {
    height:36px;
    overflow:hidden
}
.fav-list2 a span {
    color:#e4393c
}
.my_nala_detail {
    float:right;
    width:968px;
    border:1px solid #ccc;
    min-height:823px;
    _height:823px;
    background-color:#fff
}
.my_nala_detail h1, .my_nala_detail h3 {
    font-size:16px;
    font-weight:bold;
    padding:15px;
    border-bottom:1px solid #ccc
}
.my_nala_detail h1 span{
    font-size:12px;
    font-weight: normal;
    padding:15px;
}
.my_nala_detail .detail_r {
    padding:20px 15px
}
.my_nala_detail .detail_r h2 {
    height:20px;
    margin-bottom:8px;
    font-size:14px;
    color:#666;
    font-weight:400
}
.my_nala_detail .detail_r h2 a {
    color:#39f
}
.my_nala_detail .detail_r h3 {
    height:20px;
    margin-bottom:8px;
    font-size:12px;
    border-bottom:1px solid #e7e7e7
}
.my_nala_detail .admin_table {
    width:100%;
    margin-bottom:50px;
    border:1px solid #ddd
}
.my_nala_detail .admin_table th {
    text-align:center;
    font-weight:normal;
    background:#f2f2f2;
    font-size:14px;
    border:1px solid #ddd;
    box-shadow:0 1px 1px #fff inset
}
.my_nala_detail .admin_table th, .my_nala_detail .admin_table td {
    padding:10px;
    border:1px solid #ddd;
    text-align:center
}
.my_nala_detail .admin_table td.tc {
    text-align:center
}
.my_nala_detail .admin_table tr:nth-of-type(odd) td {
    background-color:#fafafa
}
.my_nala_detail .admin_table td .address_a {
    display:none
}
.address_ok_ico, .update_ok_ico {
    background:url(http://img.nala.com.cn/b2c/images/icon_true_01.png) no-repeat 0 2px;
    width:18px;
    height:18px;
    display:inline-block
}
.update_ok_ico {
    width:auto;
    padding-left:20px;
    line-height:16px
}
#add_newaddr i {
    font-size:16px;
    font-weight:bold
}
.my_address table td.setup {
    color:#bbb
}
.my_address table td.setup a {
    color:#39f;
    margin:0 5px
}
.my_address table td a.default {
    color:#bbb;
    text-decoration:none;
    display:block;
    width:30px;
    height:30px;
    margin:0 auto
}
.my_address table td a.default i {
    font-size:18px
}
.my_address table td a.current {
    color:#009661
}
.my_address table td a.current i {
    font-size:20px;
    line-height:26px
}
.form li {
    padding-bottom:12px
}
.form li span.txt {
    display:inline-block;
    width:58px;
    color:#999;
    font-size:14px
}
.form li span.iconfont {
    display:inline-block;
    width:14px;
    padding-right:4px;
    color:#bbb
}
.form li input.txt {
    width:150px;
    padding:8px;
    height:16px;
    overflow:hidden;
    border:1px solid #eee;
    border-top-color:#ccc;
    margin-right:8px;
    box-shadow:0px 1px 3px rgba(200, 200, 200, 0.3) inset;
    color:#333;
    vertical-align:middle
}
.form li select {
    vertical-align:middle;
    margin-right:5px
}
.form li.last {
    padding:10px 0 0 74px
}
.form li.last .btn {
    padding:10px 25px;
    font-size:14px;
    margin-right:20px
}
.form li.last .btn img {
    vertical-align:-3px
}
.addr-form {
    width:600px
}
.addr-form li label {
    display:inline-block;
    width:54px;
    padding-left:10px;
    padding-right:10px;
    text-align:right;
    background:url(http://cdn.mayicun.com/lizi/cart/images/star-ico.png) 0 3px no-repeat
}
.addr-form li label.nobg {
    background:none
}
.addr-form li.addr-li label {
    vertical-align:middle
}
.addr-form li.addr-li span {
    margin-right:14px
}
.addr-form li input.txt-long {
    width:400px
}
.addr-form li input.txt-short {
    width:60px
}
.addr-form li span.info {
    color:#bbb
}
.addr-form li.addr-li {
    padding:5px 0 17px
}
.addr-form li .flag-default a {
    display:inline-block;
    padding:5px 8px;
    height:12px;
    line-height:12px;
    border:1px solid #b0b0b0;
    border-color:#c8c8c8 #bebebe #b0b0b0;
    color:#666;
    border-radius:2px;
    font-size:12px;
    background-color:#efefef;
    vertical-align:middle;
    margin-right:6px
}
.addr-form li .flag-default a:hover {
    text-decoration:none;
    color:#333;
    background:#e5e5e5
}
.addr-form li .flag-default a.on, .addr-form li .flag-default a.on:hover {
    border-color:#eb7207;
    background-color:#e4393c;
    color:#fff
}
.addr-form li .flag-other {
    padding-left:10px;
    color:#999
}
.addr-form li .flag-other input {
    margin-left:8px;
    padding:4px 8px;
    visibility:hidden
}
.addr-form li .flag-other .info {
    visibility:hidden
}
.addr-form li .flag-other .flag-other-btn {
    background:url(http://cdn.mayicun.com/lizi/cart/images/login-page-bg.png) 0 -85px no-repeat;
    padding-left:16px;
    padding-bottom:2px;
    cursor:pointer
}
.addr-form li .flag-other.selected .flag-other-btn {
    background-position:0 -65px
}
.addr-form li .flag-other.selected input, .addr-form li .flag-other.selected .info {
    visibility:visible
}
.my_nala_detail input.button {
    font-size:14px;
    padding:5px 12px;
    width:120px;
    height:36px;
    line-height:16px;
    _line-height:20px;
    cursor:pointer;
    border:1px solid #eb7207;
    border-radius:3px;
    color:#fff;
    background-color:#e4393c;
    overflow:hidden;
    vertical-align:middle
}
.my_nala_detail .My_collect #collectform .all_dispose a {
    margin-right:10px;
    margin-left:10px
}
.my_nala_detail .My_collect p {
    padding:0 10px
}
.my_nala_detail .My_collect p.Collect_time {
    color:#888
}
.my_nala_detail .My_collect p input {
    cursor:pointer;
    margin-top:18px;
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x 0 -10px;
    text-align:center;
    color:#fff;
    border:none;
    height:27px;
    line-height:27px;
    width:100px
}
.my_nala_detail .My_collect p.delete_btn {
    height:16px;
    margin-top:5px
}
.my_nala_detail .My_collect p.delete_btn a {
    display:none
}
.my_nala_detail .my_coupons .Td_4 a {
    margin-left:10px
}
.my_nala_detail .My_account p {
    padding:10px 20px;
    border-bottom:1px solid #eee
}
.my_nala_detail .My_account p span {
    font-size:18px;
    font-weight:bold;
    color:#e4393c
}
.My_account td {
    padding:3px 5px
}
.My_account .odd td {
    background-color:#f8f8f8
}
.My_account form table {
    width:400px;
    float:left;
    margin:15px
}
.My_account form table td {
    background-color:#fff;
    padding:0
}
.My_account form table td input {
    padding:4px;
    font-size:14px;
    border:1px solid #ccc;
    margin-left:20px;
    color:#e4393c;
    font-weight:bold
}
.My_account form table td input#button {
    background-color:#e4393c;
    color:#fff;
    border-color:#e4393c;
    cursor:pointer;
    line-height:28px;
    padding:0;
    margin-left:10px
}
#zhye_pagelist {
    padding:10px;
    text-align:right
}
#zhye_pagelist span {
    margin-left:10px;
    color:#333;
    font-weight:normal
}
#zhye_pagelist a {
    margin-left:10px
}
#collectform .Pad {
    margin-right:auto;
    margin-left:auto;
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
    font-weight:normal;
    border:1px solid #F1F1F1;
    padding-bottom:10px;
    width:97%
}
#collectform .Pad p {
    width:750px;
    margin-top:10px;
    margin-left:10px
}
#collectform .Pad ul {
    margin-left:10px;
    margin-bottom:10px
}
#collectform .Pad li {
    list-style-type:disc;
    margin-left:30px;
    line-height:20px
}
#collectform .Pad span {
    margin-left:10px;
    font-weight:bold;
    font-size:12px
}
#collectform .Copy_ads {
    padding-left:15px
}
.Copy_ads li {
    line-height:30px
}
.Copy_ads .Input_li input {
    width:400px;
    height:26px;
    font-size:12px;
    background:url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center;
    line-height:26px;
    border:1px solid #adadad;
    padding-left:6px
}
.Copy_ads .Input_li img {
    position:relative;
    left:5px
}
.Copy_ads .Copy_ads_box {
    margin-top:10px;
    margin-bottom:10px
}
.Copy_ads .Copy_ads_box li {
    margin-right:10px;
    display:inline;
    line-height:30px;
    height:30px
}
#collectform .Mail {
    font-size:12px;
    margin:10px;
    margin-right:5px
}
#collectform .Mail table td {
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:none
}
.Mail table input {
    width:300px;
    height:18px;
    padding-top:3px;
    font-size:12px
}
.Mail table textarea {
    height:112px;
    width:526px;
    font-size:12px;
    border:1px solid #adadad
}
.Under_main_box {
    width:1196px;
    margin:10 auto
}
.Under_main_box ul {
    margin-left:20px
}
.Under_main_box li {
    float:left;
    margin-right:20px;
    margin-left:20px
}
.my_nala_detail .My_collect_right #collectform table {
    margin-top:5px
}
.my_nala_detail .My_collect_right #collectform .Copy_ads .Input_li button {
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top;
    height:28px;
    border:none;
    font-size:12px;
    font-weight:bold;
    color:#FFF;
    line-height:28px;
    margin-left:15px;
    width:80px
}
.my_nala_detail .My_collect_right #collectform .Mail input {
    background:url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left top;
    height:26px;
    padding-left:6px;
    border:1px solid #adadad;
    line-height:26px
}
.my_nala_detail .My_collect_right #collectform .Mail button {
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top;
    height:28px;
    border:none;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    line-height:28px;
    width:80px
}
.User_information select {
    margin-right:5px;
    font-size:12px
}
.Basic_information h3 {
    border-bottom:1px solid #E4E4E4;
    padding-left:15px;
    font-size:12px;
    font-weight:normal
}
.Basic_information ul {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px
}
.Basic_information li {
    font-size:12px;
    line-height:50px;
    height:50px
}
.Basic_information #Input_text {
    width:150px;
    background:url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center;
    height:26px;
    border:1px solid #adadad;
    line-height:26px
}
.Basic_information img {
    position:relative;
    left:20px;
    bottom:1px
}
.Basic_information input {
    padding:3px
}
.Select_information {
    margin-left:30px;
    margin-top:25px;
    margin-bottom:15px;
    margin-right:30px;
    text-align:left
}
.Select_information h3 {
    font-size:12px;
    font-weight:bold;
    border:2px solid #E4E4E4;
    padding-left:15px
}
.Select_information ul {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px
}
.Select_information li {
    font-size:12px;
    line-height:50px;
    height:50px
}
.Select_information img {
    margin-left:65px;
    margin-top:5px
}
.my_nala_detail #userform .User_information .Basic_information button {
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top;
    font-size:12px;
    line-height:28px;
    font-weight:bold;
    color:#fff;
    height:28px;
    border:none;
    margin-left:10px;
    width:100px
}
.my_nala_detail #userform .User_information .Select_information button {
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top;
    height:28px;
    font-size:12px;
    line-height:28px;
    font-weight:bold;
    color:#fff;
    width:100px;
    border:none
}
.my_nala_detail #change_pswform .Change_psw {
    position:relative
}
.my_nala_detail #change_pswform .Change_psw .popupbox_password_changed {
    width:315px;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-150px
}
.my_nala_detail #change_pswform .Change_psw .change_success {
    position:absolute;
    top:50px;
    left:270px;
    padding:10px 30px;
    border:10px solid #666;
    text-indent:20px;
    color:#1d8900;
    font-size:12px;
    background:#fff url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat 30px center
}
.my_nala_detail #change_pswform .Change_psw table {
    margin-top:15px
}
.my_nala_detail #change_pswform .Change_psw .Text_input {
    background-color:#fff;
    height:20px;
    width:168px;
    border:1px solid #ddd;
    line-height:14px;
    padding:6px;
    box-shadow:1px 1px 1px rgba(200, 200, 200, 0.2) inset
}
.Change_psw h3 {
    font-size:16px;
    font-weight:bold;
    border-bottom:1px solid #eee;
    padding-bottom:10px
}
.Change_psw td {
    text-align:left
}
.Change_psw button {
    display:block;
    margin-top:20px;
    padding:5px 58px;
    height:36px;
    line-height:16px;
    _line-height:20px;
    border:1px solid #eb7207;
    border-radius:3px;
    font-size:100%;
    color:#fff;
    background-color:#e4393c;
    font-size:16px;
    overflow:hidden;
    vertical-align:middle;
    margin-left:100px
}
.Change_psw button:hover {
    background:#f37100
}
.my_nala_detail .comments_explain {
    margin-top:40px;
    margin-bottom:75px
}
.my_nala_detail .comments_explain h4 {
    margin-left:30px
}
.my_nala_detail .comments_explain ul {
    margin-left:30px
}
.my_nala_detail .comments_explain a {
    color:#e4393c
}
.my_nala_centre .something_interesting {
    margin-top:10px
}
.my_nala_centre .something_interesting ul {
    margin-left:20px
}
.my_nala_centre .something_interesting li {
    width:130px;
    text-align:center;
    float:left
}
.my_nala_centre .something_interesting b {
    font-weight:normal
}
.my_nala_centre .something_interesting em {
    font-size:12px;
    font-weight:bold;
    color:#e4393c
}
.email_mod {
    padding:15px !important
}
.sectionbox div.content {
    padding:10px;
    border:1px solid #e7e7e7;
    overflow:hidden;
    _background:url(http://img.nala.com.cn/b2c/images/sectionbox_content_bg.png) left top repeat-y
}
.sectionbox div.content p {
    padding:0 5px
}
.my_nala_detail .publish_comments {
    height:60px;
    width:720px;
    margin-top:13px;
    margin-left:18px
}
.my_nala_detail .publish_comments h4 {
    font-size:12px;
    font-weight:bold
}
.my_nala_detail .publish_comments p {
    line-height:15px;
    margin-top:5px
}
.my_nala_detail .comments_point {
    margin-left:20px;
    margin-top:30px;
    padding-left:25px;
    background:url(http://img.nala.com.cn/b2c/images/comment-star-bg.png) 10px 4px no-repeat
}
.my_nala_detail .star_rating_con {
    width:200px;
    height:34px;
    margin-top:8px;
    padding:8px 12px;
    border:1px solid #bbb;
    float:left
}
.my_nala_detail .star_rating_info {
    float:left;
    height:50px;
    color:#666;
    line-height:50px;
    margin-top:8px;
    margin-left:20px
}
.my_nala_detail .comment_word {
    margin-left:20px;
    margin-top:25px;
    padding-left:25px;
    background:url(http://img.nala.com.cn/b2c/images/comment-star-bg.png) 10px 4px no-repeat
}
.my_nala_detail .comment_word_con {
}
.my_nala_detail .comment_word_con .comment_word_con_textarea {
    float:left;
    margin:0;
    padding:0
}
#wrapper .my_nala_detail .comment_word_con .comment_word_con_textarea textarea {
    width:420px;
    height:90px;
    float:left;
    margin-top:5px;
    border:1px solid #bbb;
    overflow:auto;
    *margin-left:-20px
}
.my_nala_detail .comment_word_con .comment_word_con_info {
    float:left;
    width:270px;
    color:#666;
    padding-left:15px
}
.my_nala_detail .red {
    color:#e4393c
}
.my_nala_detail .comment_word input.submit {
    width:81px;
    height:38px;
    margin-top:20px;
    margin-bottom:60px;
    position:relative;
    padding-bottom:2px;
    color:#fff;
    font-size:14px;
    border:none;
    background:url(http://img.nala.com.cn/b2c/images/comment_submit_bg.png) left top no-repeat;
    cursor:pointer;
    outline:none
}
.my_nala_detail .publish_comments_success {
    padding-left:90px;
    background:url(http://img.nala.com.cn/b2c/images/icon_checkmark.png) 45px 0 no-repeat
}
.my_nala_detail .publish_comments_success h3 {
    margin:20px 0 15px 0;
    padding:0
}
.nala_list .admin_sidebar_box .account .second_list em {
    float:right;
    margin-right:10px
}
.nala_list .admin_sidebar_box .account .second_list em a {
    color:#999
}
.nala_list .admin_sidebar_box .account .second_list em a:hover {
    color:#333;
    text-decoration:none
}
.my_nala_detail #change_pswform .change_success p {
    margin:20px;
    font-size:14px;
    font-weight:bold
}
.my_nala_detail .My_collect #collectform .td a {
    margin-left:20px
}
.my_nala_detail #userform .User_information .Basic_information em {
    margin-left:30px;
    color:#666
}
.my_nala_detail .product_comments a.review {
    color:#e4393c
}
.my_point table {
    width:100%
}
.my_point td.Td_1 {
    padding:15px
}
.my_point .Td_1 span {
    margin:0 5px;
    color:#e4393c;
    font-size:16px
}
.my_point .Td_1 a {
    color:#39f
}
.my_point td {
    padding:3px 10px
}
.my_point tr.odd td {
    background-color:#f8f8f8
}
.my_point #orderform input {
    width:200px;
    line-height:26px;
    height:26px;
    background:url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center;
    border:1px solid #adadad;
    padding-left:6px
}
.my_point #orderform button {
    width:80px;
    margin-right:20px;
    margin-left:5px
}
.my_point #orderform .pay_button {
    background:url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top;
    color:#fff;
    line-height:20px;
    height:20px;
    border:none;
    width:70px;
    font-size:12px;
    margin-left:5px;
    margin-right:5px
}
.my_point #orderform .order_number span {
    margin-right:15px;
    color:#666
}
.my_point #orderform .order_number em {
    color:#e4393c;
    font-weight:bold
}
.refund {
    float:right;
    width:970px
}
.refund h3 {
    font-size:16px;
    font-weight:bold;
    padding:15px;
    border-bottom:1px solid #ccc;
    margin-bottom:15px
}
.refund .my_refund {
    border:1px solid #e4e4e4;
    padding-bottom:15px;
    background-color:#fff
}
.refund .my_refund table td {
    border:1px solid #e4e4e4
}
#refoundform .refund .refund_application {
    border:1px solid #e4e4e4;
    margin-top:13px;
    padding-bottom:50px;
    background-color:#fff
}
#refoundform .refund .refund_application h3 {
    height:34px;
    line-height:34px;
    border-bottom:1px solid #e4e4e4
}
#refoundform .refund .refund_application span {
    float:right;
    font-weight:normal;
    _margin-top:5px
}
#refoundform .refund .refund_application h3 img {
    margin-right:5px;
    margin-left:5px
}
#refoundform .refund .refund_application .refund_inf {
    margin-bottom:10px;
    background-color:#FFF
}
#refoundform .refund .refund_application .refund_inf .inf_tip {
    width:100px;
    float:left;
    text-align:right;
    height:28px;
    line-height:28px
}
#refoundform .refund .refund_application .refund_inf .write_inf {
    width:500px;
    float:left;
    margin-left:10px;
    *margin-left:0px
}
#refoundform .refund .refund_application .refund_inf .write_inf .text_input, .refund_money {
    background-color:#fff;
    height:14px;
    width:168px;
    border:1px solid #ddd;
    line-height:14px;
    padding:6px;
    box-shadow:1px 1px 1px rgba(200, 200, 200, 0.2) inset
}
#refoundform .refund .refund_application .refund_inf .write_inf .write_text button, #refoundform .refund .refund_application .refund_inf .write_inf button {
    background:url(http://img.nala.com.cn/b2c/images/ok_button_bj.png) repeat-x left top;
    height:28px;
    line-height:28px;
    border:none;
    width:68px;
    color:#fff;
    margin-left:5px
}
#refoundform .refund .refund_application .refund_inf .write_inf .write_text em {
    color:#f60;
    margin-left:12px
}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product {
    margin-top:5px;
    border:1px solid #e4e4e4;
    background-color:#f8f8f8;
    width:600px;
    padding-bottom:10px
}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product h4 {
    margin-top:10px;
    margin-left:15px;
    margin-bottom:5px
}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product ul {
    margin-left:35px
}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product em {
    margin-left:10px
}
#refoundform .refund .refund_application .refund_inf .write_inf span {
    float:none;
    margin-left:37px
}
#refoundform .refund .refund_application .refund_inf .write_inf strong {
    color:#e4393c;
    font-weight:normal
}
#refoundform .refund .refund_application .refund_inf .write_inf li {
    line-height:25px;
    height:25px;
    overflow:hidden
}
#refoundform .refund .refund_application .refund_inf .write_inf .account_tip {
    width:203px;
    height:30px;
    line-height:30px;
    text-align:center;
    background-color:#F8F8F8;
    border:1px solid #e4e4e4;
    margin-left:25px
}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_reason {
    width:424px;
    height:126px;
    border:1px solid #ddd;
    box-shadow:1px 1px 1px rgba(200, 200, 200, 0.2) inset;
    padding:8px
}
#refoundform .refund .refund_application .refund_inf .write_inf .text_proof {
    width:340px;
    line-height:26px;
    background:url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center;
    height:26px;
    border:1px solid #adadad
}
#refoundform .refund .refund_application .refund_inf .write_inf p {
    margin-top:5px;
    margin-bottom:5px
}
#refoundform .refund .refund_application .refund_inf .write_inf .more_again {
    margin-left:10px;
    background:url(http://img.nala.com.cn/b2c/images/icon_increase.png) no-repeat left center;
    padding-left:17px
}
#refoundform .refund .refund_submit {
    font-size:14px;
    padding:5px 12px;
    height:36px;
    line-height:16px;
    _line-height:20px;
    cursor:pointer;
    border:1px solid #eb7207;
    border-radius:3px;
    color:#fff;
    background-color:#e4393c;
    overflow:hidden;
    vertical-align:middle;
    margin-left:110px
}
#refoundform .refund .refund_application .refund_success h4 {
    color:#1d8900;
    font-size:18px;
    font-weight:bold;
    background:url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat left center;
    padding-left:35px;
    line-height:30px;
    height:30px;
    margin-left:70px;
    margin-top:20px
}
#refoundform .refund .refund_application .refund_success a {
    margin-right:20px
}
#refoundform .refund .refund_application .refund_success p {
    margin-left:105px;
    line-height:30px
}
.star_rating, .star_rating a:hover, .star_rating a:active, .star_rating a:focus, .star_rating .current_rating {
    background:url(http://img.nala.com.cn/b2c/images/pingfen_star_bg.png) left -1000px repeat-x
}
.star_rating {
    position:relative;
    width:200px;
    height:33px;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
    background-position:left top
}
.star_rating li {
    display:inline;
    padding:0
}
.star_rating a, .star_rating .current_rating {
    position:absolute;
    top:0;
    left:0;
    text-indent:-1000em;
    height:33px;
    line-height:33px;
    outline:none;
    overflow:hidden;
    border:none
}
.star_rating a:hover, .star_rating a:active, .star_rating a:focus {
    background-position:left bottom
}
.star_rating a.one_star {
    width:20%;
    z-index:6
}
.star_rating a.two_stars {
    width:40%;
    z-index:5
}
.star_rating a.three_stars {
    width:60%;
    z-index:4
}
.star_rating a.four_stars {
    width:80%;
    z-index:3
}
.star_rating a.five_stars {
    width:100%;
    z-index:2
}
.star_rating .current_rating {
    z-index:1;
    background-position:left center
}
.my_nala_detail .choose {
    margin-left:45px;
    margin-top:25px
}
.my_nala_detail .choose h4 span {
    color:#666
}
.my_nala_detail .choose ul {
    margin-top:15px
}
.my_nala_detail .choose li {
    float:left;
    margin-right:15px
}
.my_nala_detail .choose li label {
    margin-left:5px;
    cursor:pointer
}
.my_nala_detail .choose li label:hover {
    text-decoration:none;
    color:#e4393c;
    cursor:pointer
}
.my_coupons {
    border:1px solid #e4e4e4
}
.my_coupons h3 {
    padding:15px;
    font-size:16px;
    font-weight:bold;
    border-bottom:1px solid #ccc
}
.my_coupons .best_product .all_tip {
    height:42px;
    overflow:hidden;
    border-bottom:1px solid #bbb;
    padding:7px 18px 0 0
}
.my_coupons .best_product .all_tip ul {
    width:500px;
    overflow:hidden;
    float:left;
    height:42px
}
.my_coupons .best_product .all_tip li {
    float:left;
    width:150px;
    text-align:center;
    height:42px;
    cursor:pointer
}
.my_coupons .best_product .all_tip li.current {
    height:42px
}
.my_coupons .best_product .all_tip li a {
    display:block;
    text-align:center;
    background:#fff url(http://img.nala.com.cn/b2c/images/new0801/tit_bg_01.png) no-repeat center 43px;
    color:#888;
    height:34px;
    padding-top:8px;
    font-size:14px
}
.my_coupons .best_product .all_tip li.current a, .my_coupons .best_product .all_tip li a:hover {
    background-position:center bottom;
    color:#111;
    -webkit-transition:background-position 0.3s ease-out;
    -moz-transition:background-position 0.3s ease-out;
    -o-transition:background-position 0.3s ease-out;
    transition:background-position 0.3s ease-out;
    text-decoration:none
}
.my_coupons .best_product .all_tip .tit_more {
    float:right;
    color:#999;
    padding-left:20px;
    background:url(http://img.nala.com.cn/b2c/images/new0801/bg_admin08.png) no-repeat 0 1px;
    margin-top:10px
}
.my_coupons table {
    width:100%
}
.my_coupons .table_1 .J_couponBtn, .my_coupons .table_2 .J_couponBtn {
    visibility:hidden
}
.c_tb01 td {
    padding:10px 25px;
    height:40px
}
#J_couponTips {
    position:absolute;
    z-index:29;
    width:190px;
    padding:15px;
    background:#fff;
    border:1px solid #e8e8e8;
    border-right:1px solid #fff;
    box-shadow:0 2px 2px #eee
}
#J_couponTips .ctips {
    padding-left:20px;
    font:normal 14px/21px "Microsoft Yahei", simsun;
    background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin01.png) no-repeat 0 3px
}
#J_couponTips .ctipf {
    padding-left:20px;
    font:normal 14px/21px "Microsoft Yahei", simsun;
    background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin03.png) no-repeat 0 3px
}
.my_coupons .c_num {
    font-size:14px;
    color:#424242
}
.my_coupons input.J_couponCode {
    border:1px solid #ccc !important;
    width:150px;
    margin-right:15px;
    padding:5px;
    float:left
}
.my_coupons a.J_couponBtn {
    float:left;
    display:inline-block;
    border:1px solid #ddd;
    background-color:#f4f4f4;
    padding:5px 0px;
    width:60px;
    border-radius:2px
}
.my_coupons .tb1_hd td {
    background:#eee url(http://img.nala.com.cn/b2c/images/new0801/bg_admin04.png) repeat-x 0 0;
    height:22px;
    padding-top:10px
}
.my_coupons i.J_couTips {
    display:inline-block;
    width:15px;
    height:15px;
    background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin02.png) no-repeat 0 0;
    cursor:pointer
}
.my_coupons .J_tipsCon {
    display:none;
    position:absolute;
    padding:10px;
    font:normal 12px/18px "Microsoft Yahei", simsun;
    border:1px solid #ccc;
    background:#f8f8f8;
    white-space:nowrap
}
.cou_list {
    width:100%;
    padding:10px 0;
    border-top:1px solid #e4e4e4;
    margin-top:20px
}
.cou_list .cou_tit {
    height:21px;
    margin:0 0 16px;
    width:750px
}
.cou_list .cou_tit .h301 {
    display:block;
    font:normal 14px/21px "Microsoft Yahei", simsun;
    float:left;
    color:#111;
    padding-left:20px
}
.cou_list .cou_con ul {
    width:750px;
    float:left;
    padding-left:20px
}
.cou_list .cou_con ul li {
    display:block;
    width:140px;
    padding:5px;
    float:left;
    text-align:center
}
.cou_list .cou_con li a img {
    width:130px;
    height:130px;
    display:block;
    margin:10px auto
}
.cou_list .cou_con li a span {
    display:block;
    margin:10px auto
}
.cou_list .cou_con li a span.pname {
    display:block;
    margin:10px auto;
    color:#999
}
.cou_list .cou_con li a:hover span.pname {
    display:block;
    margin:10px auto;
    color:#333;
    text-decoration:none
}
.cou_list .cou_con li a:hover {
    text-decoration:none
}
.cou_list .cou_tit .cou_tags {
    display:block;
    float:right
}
.cou_list .cou_tit .cou_tags a {
    display:inline-block;
    padding:0 6px
}
.cou_help {
    padding:10px;
    border:1px solid #e4e4e4;
    margin:15px 0;
    font:normal 12px/18px "Microsoft Yahei", simsun
}
.cou_help .help_tit {
    height:21px;
    padding:7px 0;
    border-bottom:1px solid #e4e4e4
}
.cou_help .help_tit .h301 {
    font:normal 14px/21px "Microsoft Yahei", simsun;
    float:left;
    margin-right:15px;
    color:#424242;
    padding-left:8px
}
.cou_help .help_tit a {
    float:left;
    margin-top:3px
}
.cou_help .help_con dl {
    display:block
}
.cou_help .help_con dl dt {
    display:block;
    margin:10px 8px;
    color:#424242
}
.cou_help .help_con dl dd {
    text-indent:18px;
    color:#888
}
.coupon_intro {
    padding:20px
}
.coupon_intro h4 {
    font-size:14px
}
.coupon_intro p {
    margin-top:10px
}
.trade_sort {
    margin:10px 0 0 0;
    padding:10px 0 10px 20px;
    border-top:1px solid #eee;
    border-bottom:1px solid #e4e4e4
}
.trade_sort ul li {
    float:left;
    margin:5px 20px 0 0;
    position:relative
}
.trade_sort ul li a.on {
    color:#e4393c
}
.trade_tb01 {
    margin-top:15px
}
.trade_tb01 td {
    background-color:#fff
}
.trade_tb01 .tb1_hd td {
    background:#f1f1f1;
    border:1px solid #ccc;
    border-left:none;
    border-right:none
}
.trade_tb01 .tb1_hd td span {
    padding-left:8px
}
.trade_tb01 .tb1_hd input.txt {
    width:155px;
    border:1px solid #ccc;
    height:16px;
    padding:3px;
    vertical-align:middle
}
.trade_tb01 .tb1_hd input.btn {
    height:23px;
    padding:0;
    width:50px;
    cursor:pointer;
    line-height:12px
}
.trade_tb01 th {
    background:#f8f8f8;
    padding:8px 10px;
    vertical-align:top;
    color:#424242;
    font-weight:normal;
    border-top:1px solid #ccc;
    text-align:left
}
.trade_tb01 th.trade-count {
    text-align:right
}
.trade_tb01 th p {
    padding-left:8px;
    padding-top:5px;
    color:#999
}
.trade_tb01 th em.em02 {
    font-size:14px;
    line-height:24px;
    color:#e4393c
}
.trade_tb01 th em.tstatus_7, .trade_tb01 th em.tstatus_20 {
    color:#666
}
.trade_tb01 th em.tstatus_4, .trade_tb01 th em.tstatus_9, .trade_tb01 th em.tstatus_14, .trade_tb01 th em.tstatus_15 {
    color:#298808
}
.trade_tb01 th em.em_price {
    font-weight:bold;
    font-size:16px
}
.trade_tb01 td {
    background:#fff;
    padding:8px 10px;
    vertical-align:top
}
.trade_tb01 td.items {
    padding:0
}
.trade_tb01 dl {
    width:410px;
    padding:10px;
    background:#fff
}
.trade_tb01 dl:hover {
    background:#ffe9da
}
.trade_tb01 dl dd.trade_rebuy {
    display:none
}
.trade_tb01 dl dt, .trade_tb01 dl dd {
    float:left
}
.trade_tb01 dl .trade_img {
    width:40px;
    height:40px
}
.trade_tb01 dl .trade_img img {
    width:40px;
    height:40px
}
.trade_tb01 dl .trade_title {
    width:206px;
    height:18px;
    overflow:hidden;
    padding:10px 10px 0 10px
}
.trade_tb01 dl .trade_price {
    width:100px;
    line-height:40px;
    color:#999
}
.trade_tb01 .plf30 {
    position:relative;
    left:-50px
}
.trade_tb01 .status {
    padding-top:20px;
    width:120px
}
.trade_tb01 .status .trade_ex i {
    margin-right:2px;
    font-size:14px
}
.trade_tb01 .status a.J_exBtn {
    margin-left:10px;
    color:#e4393c
}
.trade_tb01 .operate {
    padding-top:20px;
    text-align:right
}
.trade_tb01 .operate div {
    padding-bottom:12px
}
.trade_tb01 .operate a {
    padding:3px 8px;
+padding: 2px 8px 4px;
    margin-left:5px
}
.trade_tb01 .operate a.btn {
    padding-left:14px;
    padding-right:14px
}
.trade_tb01 .operate a.del-trade {
    _padding-top:4px
}
.trade_tb01 .operate a.del-trade i {
    vertical-align:0px;
    margin-right:3px
}
.fly-trade {
    width:968px;
    overflow:hidden;
    border:1px solid #ccc;
    position:absolute
}
.fly-trade table {
    margin-top:0
}
.cancel-tip {
    position:relative;
    margin-top:10px;
    display:none;
    width:230px
}
.cancel-tip p {
    border:1px solid #ccc;
    background-color:#f4f4f4;
    padding:4px 0;
    text-align:center;
    font-size:12px;
    height:20px
}
.cancel-tip i {
    position:absolute;
    top:-10px;
    right:28px;
    z-index:2;
    font-size:24px;
    line-height:20px;
    color:#ccc;
    font-family:Arial
}
.cancel-tip i.btm {
    top:-8px;
    z-index:3;
    color:#f4f4f4
}
.my_nala_centre .relate_goods {
    border:1px solid #e4e4e4;
    border-top:none
}
.my_nala_centre .pagenav {
    padding:15px 10px;
    border-top:1px solid #e4e4e4
}
.trade_mod {
    border:1px solid #e4e4e4;
    background-color:#fff
}
.trade_mod .h301 {
    padding:16px 0 0 18px;
    color:#111;
    font-size:16px;
    font-weight:bold;
    position:relative
}
.trade_mod .h301 a.r {
    position:absolute;
    right:10px;
    top:20px;
    font-size:12px;
    padding:2px 0
}
.trade_mod .h301 a.r i {
    vertical-align:0px;
    margin-right:3px
}
.trade_mod .h301 a.warn-color {
    background-color:#FEE5E6
}
.trade_mod form {
    display:inline-block;
    *display:inline;
    *zoom:1
}
.kuaidi_tit {
    color:#888;
    padding-bottom:10px
}
.kuaidi_tit em {
    color:#e4393c;
    margin-right:50px
}
.kuaidi-genzhong {
    width:100%
}
.kuaidi-genzhong th, .kuaidi-genzhong td {
    padding:5px 10px;
    background-color:#fff;
    border:1px solid #ccc;
    line-height:22px
}
.kuaidi-genzhong th {
    background-color:#eee
}
.kuaidi-genzhong th.time {
    width:130px
}
.my_form ul {
    width:100%
}
.my_form li {
    padding:8px 0 8px 90px;
    position:relative;
+zoom: 1;
    line-height:25px
}
.my_form li.userface {
    height:100px
}
.my_form li span {
    margin-left:20px;
    color:#bbb
}
.my_form li .username span {
    margin-left:50px
}
.my_form li input.txt {
    padding:4px 5px;
    height:16px;
    line-height:16px;
    overflow:hidden;
    width:150px;
    border:1px solid #eee;
    border-top-color:#ccc;
    box-shadow:0px 1px 3px rgba(200, 200, 200, 0.3) inset;
    vertical-align:0
}
.my_form label {
    position:absolute;
    left:25px;
    top:8px;
    text-align:left;
    display:inline-block;
    width:50px
}
.my_form li.radio_li input {
    vertical-align:-2px;
    _vertical-align:-3px;
    margin-right:2px
}
.my_form li select {
    margin-right:5px
}
.my_form li a {
    margin-left:15px;
    color:#e4393c
}
.my_form .form_submit {
    padding:20px 0 20px 90px
}
.my_form .form_submit .btn {
    padding:8px 35px;
    font-size:14px
}
.form_box li {
    padding:0 0 20px 10px;
    color:#999
}
.form_box li span {
    font-size:14px;
    margin-right:10px;
    color:#333
}
.form_box li a {
    color:#e4393c;
    margin-left:20px
}
.invite_tit a {
    font-size:18px;
    display:inline-block;
    height:30px;
    padding-bottom:2px;
    border-bottom:3px solid #fff
}
.invite_tit a.on {
    color:#e4393c;
    border-bottom-color:#e4393c
}
.invite_tit a:hover {
    text-decoration:none
}
.invite_tit span {
    margin:0 20px;
    display:inline-block;
    width:1px;
    height:18px;
    overflow:hidden;
    background-color:#999;
    vertical-align:top;
    position:relative;
    top:4px
}
.invite_main {
    margin:30px 0;
    color:#666
}
.invite_link {
    color:#666;
    font-size:14px
}
.invite_link .invite_copy {
    padding:10px 0 20px
}
.invite_link input {
    width:318px;
    height:28px;
    line-height:28px;
    border:1px solid #e4e4e4;
    color:#999;
    background-color:#fff;
    padding:2px 5px;
    vertical-align:middle
}
.invite_link .graybtn {
    padding:8px 35px;
    font-size:14px;
    margin-left:10px;
    cursor:pointer
}
.invite_share a {
    float:left;
    display:block;
    width:30px;
    height:0;
    padding-top:30px;
    overflow:hidden;
    margin-right:10px
}
.invite_friends .tip {
    font-size:14px;
    margin-bottom:10px
}
.invite_friends .tip a {
    color:#09f;
    text-decoration:underline
}
.invite_rule h4 {
    font-size:16px;
    margin-bottom:10px;
    font-weight:bold
}
.invite_rule p {
    margin-bottom:10px;
    font-size:14px
}


.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
